{{ partial "header.html" . }}
<body>

<div id="top"> <!-- Where all the awesome begins -->
<link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Bungee+Shade|Codystar|Lilita+One|Rajdhani:500|Yeseva+One" rel="stylesheet">
<div class="hero is-{{ .Site.Params.introHeight | default "fullheight" }}">
<!-- Possible hero-head not used -->
    <!-- Super sweet Hero body title -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Title and tagline -->
            <h1 class="{{ if .Site.Params.fadeIn | default true }}fade-in one{{ end }}" style="font-size: 100pt">
                <font face="bungee">ISLASH8();</font>
            </h1>
            <h3 class="subtitle is-3 {{ if .Site.Params.fadeIn | default true }}fade-in two{{ end }}"  style="font-size: 60pt">
               <font face="Rajdhani" color="darkgrey">Random Thoughts & Stuff</font>
            </h3>
            <!-- End title and tagline -->
            <!-- Some social icons -->
            <div class=" {{ if .Site.Params.fadeIn | default true }}fade-in three{{ end }}">
                {{ partial "social.html" . }}
            </div>
            <!-- End top social icons -->
        </div>
    </div> <!-- Hero body title end -->
    <!-- Hero foot has nav bar -->
    <div class="hero-foot {{ if .Site.Params.fadeIn | default true }}fade-in three{{ end }}">
    <hr>
    <nav class="nav-center">
        <a class="nav-item" href="/about">About</a>
        {{ if .Site.Params.showProjects }}
        <a class="nav-item" href="/projects">Projects</a>
        {{ end }}
        {{ if .Site.Params.showBlog }}
        <a class="nav-item" href="/blog">Blog</a>
        {{ end }}
        <a class="nav-item" href="/contact">Contact</a>
    </nav>
    <hr>
    </div><!-- Done with nav bar -->
</div><!-- Done with Hero -->

<!-- Everything below fades in three! -->
<div class="section no-padding {{ if .Site.Params.fadeIn | default true }}fade-in three{{ end }}">










<!-- Nice clean finish -->
{{ partial "footer.html" . }}
<!-- Footer done! -->
</div><!-- End of fade in three section -->
<!-- Where all the awesome ends. Aww. -->

<!-- Bitty scrolling links script -->
<script>
$('a[href^="#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);
    return false;
})
</script>

</body>
